[submodule "SBFspot/thirdparty/libspeedwire"]
	path = SBFspot/thirdparty/libspeedwire
	url = https://github.com/mincequi/libspeedwire.git
[submodule "SBFspot/thirdparty/qmqtt"]
	path = SBFspot/thirdparty/qmqtt
	url = https://github.com/emqx/qmqtt.git
[submodule "SBFspot/thirdparty/loguru"]
	path = SBFspot/thirdparty/loguru
	url = https://github.com/emilk/loguru.git
